diff --git a//dev/null b/uplifttech/.gitignore
index 0000000000000000000000000000000000000000..7ceb59f89a14551ad717dd1c9b2492359ba58ef2 100644
--- a//dev/null
+++ b/uplifttech/.gitignore
@@ -0,0 +1,25 @@
+# Logs
+logs
+*.log
+npm-debug.log*
+yarn-debug.log*
+yarn-error.log*
+pnpm-debug.log*
+lerna-debug.log*
+
+node_modules
+dist
+dist-ssr
+*.local
+
+# Editor directories and files
+.vscode/*
+!.vscode/extensions.json
+.idea
+.DS_Store
+*.suo
+*.ntvs*
+*.njsproj
+*.sln
+*.sw?
+.env
.env
